### Q1. Create a list of five integers and print it.

In [4]:
LIS = [5 , 30 ,16, 12 ,17]
LIS

[5, 30, 16, 12, 17]

### Q2. Write a program to find the length of a list.

In [5]:
len(LIS)

5

### Q3. Create a tuple with three elements and print the second item.

In [9]:
tup =(34 ,50 , 6)
print (tup[2])

6

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [8]:
dicto= {'a':12 , 'b' :5 ,'c' :10}
print(dicto)

{'a': 12, 'b': 5, 'c': 10}

### Q5. Write a program to convert a list into a set.

In [11]:
LIS = [ 20 , 15 ,6 ,8 ]
SET = set(LIS)
print(SET)

{8, 20, 6, 15}

### Q6. Create a string and print its first and last characters.

In [13]:
charecters = "ansdrt"
print(max(charecters))
print(min(charecters))

t
a

### Q7. Take input from the user and print it.

In [2]:
b =input("PLEASE ENTER A NUMBER")
print (b)

1234

### Q8. Write a program to add two numbers entered by the user.

In [3]:
v1=int(input('1st number'))
v2=int(input('2nd number'))
r=v1+v2
print(r)

71

### Q9. Use `type()` function to check the data type of a variable.

In [16]:
a = 'sally'
b = 223
c = True
print (type(a))
print (type(b))
print (type(c))

<class 'str'>
<class 'int'>
<class 'bool'>

### Q10. Create a boolean variable and print it.

In [17]:
boolean = False
print ("the boolean is : " , boolean)

the boolean is :  False

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [20]:
x=24

if x > 0:
    print(f"{x} is positive")

elif x < 0:
    print(f"{x}is negative")

else:
    print ('error')

24 is positive

### Q12. Write a program to check if a number is even or odd.

In [5]:
NUMBER = int(input("ENTER A NUMBER: "))
if NUMBER % 2 == 0:
    print(f"{NUMBER} IS EVEN.")
else:
    print(f"{NUMBER} IS ODD.")

5 IS ODD.

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [6]:
name = "MARIAM"

for i in range(3):
    print(name)

MARIAM
MARIAM
MARIAM

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [7]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [8]:
COURSES = ["ADVANCED", "COMPUTER ARCHITECTURE", "MICRO", "SEMINAR"]
for COURSE in COURSES:
    print(COURSE)

ADVANCED
COMPUTER ARCHITECTURE
MICRO
SEMINAR

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [9]:
SUM = 0

for i in range(1, 101):
    SUM += i  
print("The sum of numbers from 1 to 100 is:", SUM)

The sum of numbers from 1 to 100 is: 5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [14]:
for X in range(1, 21):
    if X % 2 == 0:
        print(X)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [15]:
text = "HI!"
for char in text:
    print(char)

H
I
!

### Q19. Use a `for` loop to print all values in a dictionary.

In [16]:
person = {
    "NAME": "Mariam",
    "AGE": 20,
    "city": "CAIRO"
}
for value in person.values():
    print(value)

Mariam
20
CAIRO

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [17]:
n = 5
factorial = 1
for i in range(1, n+1):
    factorial *= i
print("Factorial of", n, "is", factorial)

Factorial of 5 is 120

In [18]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}.")

The factorial of 4 is 24.

### Q21. Create a list of your 5 favorite fruits.

In [20]:
LISFRU = ['MANGO' , 'BANANA' , 'PINEAPPLLE' , 'WATERMELON']
LISFRU

['MANGO', 'BANANA', 'PINEAPPLLE', 'WATERMELON']

### Q22. Add a new fruit to your list of favorite fruits.

In [21]:
LISFRU.append('STRAWBERRY')
LISFRU

['MANGO', 'BANANA', 'PINEAPPLLE', 'WATERMELON', 'STRAWBERRY']

### Q23. Remove the second item from a list.

In [25]:
LISFRU = ['MANGO', 'BANANA', 'PINEAPPLLE', 'WATERMELON', 'STRAWBERRY']
LISFRU.pop(1)
LISFRU

['MANGO', 'PINEAPPLLE', 'WATERMELON', 'STRAWBERRY']

### Q24. Sort a list of numbers in descending order.

In [26]:
numbers = [5, 2, 9, 1, 7]
numbers.sort(reverse=True)
print(numbers)

[9, 7, 5, 2, 1]

### Q25. Find the maximum and minimum values in a list.

In [27]:
list = [5, 30, 25, 10, 55]
print(max(list))
print(min(list))

55
5

### Q26. Count how many times a value appears in a list.

In [28]:
fruits = ["apple", "banana", "apple", "cherry", "banana", "apple"]
value_to_count = "apple"
count = fruits.count(value_to_count)
print(f"The value '{value_to_count}' appears {count} times in the list.")

The value 'apple' appears 3 times in the list.

### Q27. Check if a specific value exists in a list.

In [29]:
numbers = [10, 20, 30, 40, 50]

# Value to check
value_to_check = 30

# Check if the value exists in the list
if value_to_check in numbers:
    print(f"{value_to_check} exists in the list.")
else:
    print(f"{value_to_check} does not exist in the list.")

30 exists in the list.

### Q28. Reverse a list without using reverse() function.

In [33]:
i =[1 ,2 ,3 ,4]
print(i[::1])

[1, 2, 3, 4]

### Q29. Make a copy of a list and modify the copy only.

In [34]:
original_list = [1, 2, 3, 4, 5]
copy_list = original_list[:]
copy_list.append(6)
print("Original list:", original_list)
print("Modified copy:", copy_list)

Original list: [1, 2, 3, 4, 5]
Modified copy: [1, 2, 3, 4, 5, 6]

### Q30. Use slicing to get the first 3 items of a list.

In [35]:
my_list = [10, 20, 30, 40, 50]
first_three = my_list[:3]
print(first_three)

[10, 20, 30]

### Q31. Create a tuple with 4 elements and print its length.

In [36]:
tu = (20, 40, 60, 80)
print(len(tu))

4

### Q32. Access the last element of a tuple.

In [37]:
my_tuple = (10, 20, 30, 40, 50)
last_element = my_tuple[-1]
print(last_element)

50

### Q33. Convert a tuple into a list.

In [41]:
my_tuple = (1, 2, 3, 4, 5)

my_list = []
for item in my_tuple:
    my_list.append(item)

print(my_list)

[1, 2, 3, 4, 5]

In [44]:
tuple = (1, 2, 3, 4, 5)
list1 = (tuple)

print(list1)

(1, 2, 3, 4, 5)

### Q34. Convert a list into a tuple.

In [48]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ()
for item in my_list:
    my_tuple += (item,)

print(my_tuple)

(1, 2, 3, 4, 5)

### Q35. Check if a value exists in a tuple.

In [49]:
my_tuple = (10, 20, 30, 40, 50)
value = 30
if value in my_tuple:
    print(f"{value} exists in the tuple.")
else:
    print(f"{value} does not exist in the tuple.")

30 exists in the tuple.

### Q36. Concatenate two tuples.

In [51]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6)

### Q37. Repeat a tuple 3 times.

In [52]:
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### Q38. Find the index of an element in a tuple.

In [53]:
my_tuple = (10, 20, 30, 40, 50)
index = my_tuple.index(30)
print("The index of 30 is:", index)

The index of 30 is: 2

### Q39. Use tuple unpacking to assign values to variables.

In [12]:
a ,b = 20 ,40
l1 =[1 , 2 ,3 ,4 ,5]
l2 =[6 , 7 , 8 , 9 ,10]
r=l1+l2
r

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Q40. Create a nested list and access an inner element.

In [9]:
m = [['ali' , 'amr' , 'rana'],['manal' , 'farida' ,'samira']]
m
m[0],m[1]

(['ali', 'amr', 'rana'], ['manal', 'farida', 'samira'])

### Q41. Create a set of 5 unique colors.

In [54]:
colors = {"red", "blue", "green", "yellow", "purple"}

print(colors)

{'green', 'purple', 'blue', 'yellow', 'red'}

### Q42. Add a new color to the set.

In [55]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.add("orange")
print(colors)

{'green', 'purple', 'orange', 'blue', 'yellow', 'red'}

### Q43. Remove an item from the set using `remove()`.

In [56]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.remove("green")
print(colors)

{'purple', 'blue', 'yellow', 'red'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [57]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.discard("green")
colors.discard("orange")
print(colors)

{'purple', 'blue', 'yellow', 'red'}

### Q45. Create a set from a list with duplicate values.

In [58]:
my_list = [1, 2, 2, 3, 4, 4, 5, 1]
unique_set = set(my_list)
print(unique_set)

{1, 2, 3, 4, 5}

### Q46. Find the union of two sets.

In [59]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

### Q47. Find the intersection of two sets.

In [60]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3, 4}

### Q48. Find the difference between two sets.

In [61]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 6, 7}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2, 5}

### Q49. Check if a set is a subset of another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print(is_subset)

True

### Q50. Check if two sets are disjoint.

In [63]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.isdisjoint(set2))

False

### Q51. Create a dictionary with 3 items: name, age, and city.

In [66]:
person = {"name": "Mariam","age": 21,"city": "cairol"}
print(person)

{'name': 'Mariam', 'age': 21, 'city': 'cairol'}

### Q52. Add a new key-value pair to the dictionary.

In [65]:
person = {"name": "Mariam","age": 25,"city": "Istanbul"}
person["profession"] = "Engineer"
print(person)

{'name': 'Mariam', 'age': 25, 'city': 'Istanbul', 'profession': 'Engineer'}

### Q53. Update the value of an existing key in the dictionary.

In [67]:
person = {"name": "Mariam","age": 25,"city": "Istanbul"}
person["age"] = 26
print(person)

{'name': 'Mariam', 'age': 26, 'city': 'Istanbul'}

### Q54. Remove a key from the dictionary using `pop()`.

In [68]:
person = {"name": "Mariam","age": 26,"city": "Istanbul"}
removed_value = person.pop("city")
print("Removed value:", removed_value)
print("Updated dictionary:", person)

Removed value: Istanbul
Updated dictionary: {'name': 'Mariam', 'age': 26}

### Q55. Check if a key exists in the dictionary.

In [69]:
person = {"name": "Mariam","age": 26,"city": "Istanbul"}
key = "age"

if key in person:
    print(f"'{key}' exists in the dictionary.")
else:
    print(f"'{key}' does not exist in the dictionary.")

'age' exists in the dictionary.

### Q56. Loop through a dictionary and print all keys and values.

In [70]:
person = {"name": "Mariam","age": 26,"city": "Istanbul"}
for key, value in person.items():
    print(f"{key}: {value}")

name: Mariam
age: 26
city: Istanbul

### Q57. Get all keys from a dictionary using `keys()`.

In [1]:
person = {"name": "Mariam","age": 26,"city": "Istanbul"}
keys = []

for key in person:
    keys.append(key)

print(keys)

['name', 'age', 'city']

### Q58. Get all values from a dictionary using `values()`.

In [73]:
person = {"name": "Mariam","age": 26,"city": "Istanbul"}
values = []
for key in person:
    values.append(person[key])
print(values)

['Mariam', 26, 'Istanbul']

### Q59. Get all key-value pairs using `items()`.

In [74]:
person = {"name": "Mariam","age": 26,"city": "Istanbul"}
items = []

for key in person:
    items.append((key, person[key]))
print(items)

[('name', 'Mariam'), ('age', 26), ('city', 'Istanbul')]

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [78]:
values = [89 ,70 ,17 ,30]
keys =['rania' ,'lili' , 'amr' , 'nariman']

marks=dict(zip(keys,values))
print(marks)

{'rania': 89, 'lili': 70, 'amr': 17, 'nariman': 30}